@{
    ViewBag.Title = "Terms & Conditions";
}

<div>
    <h1 >
        You need to accept NHS login terms of use to continue
    </h1>
    <p>You cannot use the NHS app if you have not accepted NHS login terms of use.</p>
    <a class="nhsuk-link" href="@Url.Action("Index","Home")">
        Back to login
    </a>
</div>
